# Copy this file to terraform.tfvars and adjust values as needed.

subscription_id     = "<your-azure-subscription-id>"
location            = "swedencentral"
resource_group_name = "rg-maf-contact-centre"
environment         = "dev"
model_name              = "gpt-5.4-mini"
model_deployment_name   = "gpt-54-mini"
model_version       = "2026-03-17"
model_capacity      = 30
