# Copy this file to terraform.tfvars and adjust values as needed.

subscription_id     = "aed60926-8bee-4a41-8892-55b523eb705f"
location            = "swedencentral"
resource_group_name = "rg-maf-contact-centre"
environment         = "dev"
model_name          = "gpt-5.3-chat"
model_version       = "2026-01-01"
model_capacity      = 30
